#div1{
    background-color: blue;
    background-size: 5px;
    font: bold;
    font-style: italic;
}

#boton{
    font-style: oblique;
    background-color: aqua;
}

#articulo{
    border-color: black;
    background-color: blueviolet;
    background-size: 100px;
}