*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body.html{
    height: 100vb;
}

body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #433d8b;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.container{
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    position: relative;
    overflow: hidden;
}

.container::before{
    content: '';
    position: absolute;
    background: inherit;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(20px);
    border-radius: 15px;
}

.wrapper{
    position: relative;
}

#image-preview{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    border-radius: 5px;
    box-sizing: border-box;
}

#image-preview img{
    width: 100%;
    height: auto;
    display: block;
}

.title{
    font-size: medium;
    padding: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    user-select: none;
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 1;
}

.title::before{
    content: '';
    position: absolute;
    background: inherit;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(20px);
    border-radius: 15px;
    z-index: -1;
}

.title:hover{
    opacity: 1;
}

.content{
    padding: 20px;
    display: none;
    position: relative;
    color: white;
}

.content{
    padding: 20px;
    display: none;
}

.content p{
    margin: 0;
}

/*a partir de aquí, todo es del campo de texto*/
.input-contain{
    position: relative;
    font-size: medium;
}